<!DOCTYPE html>
<html>
    <head>
        <title>Craigslist</title>
        
        <link href="https://fonts.googleapis.com/css?family=Coiny|Source+Sans+Pro" rel="stylesheet">
        
        <link href="../static/index.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar">
            <header class="navbar-header">
                Craigslist
            </header>
            
            <div class="navbar-items">
                <div class="navbar-item">
                    Post
                </div>
                <div class="navbar-item">
                    Account
                </div>
            </div>
        </nav>
        <h2>Search</h2>
        <h2>Listings</h2>
        
        
    </body>
</html>